<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSrtc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>247C44461D37DE7400D8AAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>247C445A1D37DE7400D8AAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>247C44651D37DE7400D8AAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
